.macbook-pro {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.macbook-pro .DALLE {
  object-fit: cover;
  position: relative;

  width: 100%;
}


a {
  text-decoration: none;
  color: inherit; 
}

.macbook-pro .text-wrapper {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    90deg,
    rgb(201.85, 250.75, 6.27) 0%,
    rgba(184.82, 246.5, 6.16, 0.89) 44.00%,
    rgba(9.94, 13.81, 0.23, 0.84) 48.00%,
    rgb(28, 83, 3) 53.12%,
    rgb(0, 0, 0) 100%
  );
  background-clip: text;
  color: transparent;
  font-family: 'Playfair Display', serif;
  font-size: 5vw;
  font-weight: 500;
  position: absolute;
  top: 11.5%;
  right: 34%;
  transform: translate(0, -50%);


  
}

.macbook-pro .i-believe-deeply-in {
  color: transparent;
  font-family: 'Playfair Display', serif;
  font-size: 1.7vw;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 41%;
  right: 60.5%;
  transform: translate(0, -50%);
}

.macbook-pro .span {
  color: #ffffff;
}

.macbook-pro .text-wrapper-2 {
  color: #c9fa06;
}

.macbook-pro .text-wrapper-3 {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 2.7vw;
  font-weight: 500;
  position: absolute;
  top: 53.8%;
  right: 67.7%;
  transform: translate(0, -50%);
  white-space: pre-line; /* Preserve line breaks */

}



.macbook-pro .text-wrapper-4 {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 2.7vw;
  font-weight: 500;
  position: absolute;
  top: 81.1%;
  right: 13%;
  transform: translate(0, -50%);
  white-space: pre-line; /* Preserve line breaks */

}

.macbook-pro .text-wrapper-5 {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 2.7vw;
  font-weight: 500;
  position: absolute;
  top: 64%;
  right: 13%;
  transform: translate(0, -50%);
  white-space: pre-line; /* Preserve line breaks */
}

.macbook-pro .text-wrapper-6 {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 2.7vw;
  font-weight: 500;
  position: absolute;
  top: 69.1%;
  right: 76.4%;
  transform: translate(0, -50%);
  white-space: pre-line; /* Preserve line breaks */
}

.macbook-pro .ellipse {
  background-color: #f8fc0a;
  border-radius: 5.5px;
  filter: blur(1px);
  height: 11px;
  width: 11px;
  position: absolute;
  top: 53%;
  right: 78.1%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-2 {
  background-color: #f8fc0a;
  border-radius: 4px;
  filter: blur(1px);
  height: 8px;
  width: 8px;
  position: absolute;
  top: 55.3%;
  right: 80.6%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-3 {
  background-color: #f8fc0a;
  border-radius: 5.5px;
  filter: blur(2px);
  height: 11px;
  width: 11px;
  position: absolute;
  top: 56.2%;
  right: 74.3%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-4 {
  background-color: #f8fc0a;
  border-radius: 5.5px;
  filter: blur(2px);
  height: 11px;
  width: 11px;
  position: absolute;
  top: 68.4%;
  right: 69.7%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-5 {
  background-color: #f8fc0a;
  border-radius: 4px;
  filter: blur(2px);
  height: 8px;
  width: 8px;
  position: absolute;
  top: 71.3%;
  right: 76.4%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-6 {
  background-color: #f8fc0a;
  border-radius: 4px;
  filter: blur(2px);
  height: 8px;
  width: 8px;
  position: absolute;
  top: 66.3%;
  right: 75.2%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-7 {
  background-color: #f8fc0a;
  border-radius: 5.5px;
  filter: blur(2px);
  height: 12px;
  width: 12px;
  position: absolute;
  top: 69.1%;
  right: 74.1%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-8 {
  background-color: #f8fc0a;
  border-radius: 5.5px;
  filter: blur(1px);
  height: 11px;
  width: 11px;
  position: absolute;
  top: 81.3%;
  right: 31.6%;
  transform: translate(0, -50%);

}

.macbook-pro .ellipse-9 {
  background-color: #f8fc0a;
  border-radius: 20px;
  filter: blur(1px);
  height: 8px;
  width: 8px;
  position: absolute;
  top: 83.6%;
  right: 37.6%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-10 {
  background-color: #f8fc0a;
  border-radius: 4px;
  filter: blur(2px);
  height: 8px;
  width: 8px;
  position: absolute;
  top: 79.5%;
  right: 35%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-11 {
  background-color: #f8fc0a;
  border-radius: 4px;
  filter: blur(2px);
  height: 8px;
  width: 8px;
  position: absolute;
  top: 85%;
  right: 28.8%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-12 {
  background-color: #f8fc0a;
  border-radius: 5.5px;
  filter: blur(1px);
  height: 11px;
  width: 11px;
  position: absolute;
  top: 62.3%;
  right: 25%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-13 {
  background-color: #f8fc0a;
  border-radius: 4px;
  filter: blur(2px);
  height: 8px;
  width: 8px;
  position: absolute;
  top: 64%;
  right: 26%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-14 {
  background-color: #f8fc0a;
  border-radius: 5.5px;
  filter: blur(1px);
  height: 11px;
  width: 11px;
  position: absolute;
  top: 65.8%;
  right: 23.7%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-15 {
  background-color: #f8fc0a;
  border-radius: 4px;
  filter: blur(2px);
  height: 8px;
  width: 8px;
  position: absolute;
  top: 67.1%;
  right: 27.4%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-16 {
  background-color: #f8fc0a;
  border-radius: 4px;
  filter: blur(2px);
  height: 8px;
  width: 8px;
  position: absolute;
  top: 65%;
  right: 31.7%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-17 {
  background-color: #f8fc0a;
  border-radius: 5.5px;
  filter: blur(2px);
  height: 11px;
  width: 11px;
  position: absolute;
  top: 26.2%;
  right: 49.7%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-18 {
  background-color: #f8fc0a;
  border-radius: 4px;
  filter: blur(2px);
  height: 8px;
  width: 8px;
  position: absolute;
  top: 27.7%;
  right: 51.1%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-19 {
  background-color: #f8fc0a;
  border-radius: 5.5px;
  filter: blur(1px);
  height: 12px;
  width: 12px;
  position: absolute;
  top: 29.6%;
  right: 49%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-20 {
  background-color: #f8fc0a;
  border-radius: 4px;
  filter: blur(2px);
  height: 8px;
  width: 8px;
  position: absolute;
  top: 31.6%;
  right: 61%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-21 {
  background-color: #f8fc0a;
  border-radius: 5.5px;
  filter: blur(2px);
  height: 11px;
  width: 11px;
  position: absolute;
  top: 16.6%;
  right: 50.7%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-22 {
  background-color: #f8fc0a;
  border-radius: 4px;
  filter: blur(2px);
  height: 10px;
  width: 10px;
  position: absolute;
  top: 18%;
  right: 54.5%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-23 {
  background-color: #f8fc0a;
  border-radius: 5.5px;
  filter: blur(2px);
  height: 11px;
  width: 11px;
  position: absolute;
  top: 17.4%;
  right: 43%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-24 {
  background-color: #f8fc0a;
  border-radius: 4px;
  filter: blur(2px);
  height: 8px;
  width: 8px;
  position: absolute;
  top: 20.9%;
  right: 56%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-25 {
  background-color: #f8fc0a;
  border-radius: 4px;
  filter: blur(2px);
  height: 8px;
  width: 8px;
  position: absolute;
  top: 19.7%;
  right: 60%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-26 {
  background-color: #f8fc0a;
  border-radius: 3px;
  filter: blur(2px);
  height: 6px;
  width: 6px;
  position: absolute;
  top: 18.9%;
  right: 51.6%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-27 {
  background-color: #f8fc0a;
  border-radius: 5.5px;
  filter: blur(3px);
  height: 13px;
  width: 13px;
  position: absolute;
  top: 33.7%;
  right: 64.4%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-28 {
  background-color: #f8fc0a;
  border-radius: 4px;
  filter: blur(2px);
  height: 8px;
  width: 8px;
  position: absolute;
  top: 35.5%;
  right: 65.9%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-29 {
  background-color: #f8fc0a;
  border-radius: 5.5px;
  filter: blur(2px);
  height: 11px;
  width: 11px;
  position: absolute;
  top: 47.5%;
  right: 64%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-30 {
  background-color: #f8fc0a;
  border-radius: 4px;
  filter: blur(2px);
  height: 8px;
  width: 8px;
  position: absolute;
  top: 36.8%;
  right: 70.8%;
  transform: translate(0, -50%);
}

.macbook-pro .ellipse-31 {
  background-color: #f8fc0a;
  border-radius: 4px;
  filter: blur(2px);
  height: 8px;
  width: 8px;
  position: absolute;
  top: 50.2%;
  right: 68.2%;
  transform: translate(0, -50%);
}




.about {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.about .div {
  background-color: #ffffff;
  border: 1px none;
  height: 1717px;
  position: relative;
  width: 1332px;
}

.about .navbar {
  background-color: #d6defb;
  height: 56px;
  left: 53px;
  position: absolute;
  top: 40px;
  width: 1226px;
}

.about .text-wrapper {
  color: #000000;
  font-family: "Playfair Display-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 31px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 210px;
}

.about .text-wrapper-2 {
  color: #000000;
  font-family: "Playfair Display-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 974px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 150px;
}

.about .text-wrapper-3 {
  color: #000000;
  font-family: "Playfair Display-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 1124px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 102px;
}

.about .text-wrapper-4 {
  color: #000000;
  font-family: "Playfair Display-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 855px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 102px;
}

.about .text-wrapper-5 {
  color: #000000;
  font-family: "Playfair Display-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 753px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 102px;
}

.about .overlap {
  height: 324px;
  left: 251px;
  position: absolute;
  top: 185px;
  width: 395px;
}

.about .text-wrapper-6 {
  color: #000000;
  font-family: "Playfair Display-SemiBold", Helvetica;
  font-size: 40px;
  font-weight: 600;
  left: 88px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
  width: 300px;
}

.about .flexcontainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 164px;
  left: 7px;
  position: absolute;
  top: 160px;
  width: 388px;
}

.about .text {
  align-self: stretch;
  color: transparent;
  font-family: "Playfair Display-Medium", Helvetica;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: right;
}

.about .span {
  color: #000000;
}

.about .text-wrapper-7 {
  color: #062eff;
}

.about .text-wrapper-8 {
  color: #000000;
  font-family: "Playfair Display-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 59px;
  width: 388px;
}

.about .me {
  height: 368px;
  left: 692px;
  object-fit: cover;
  position: absolute;
  top: 186px;
  width: 329px;
}

.about .overlap-group {
  height: 837px;
  left: 322px;
  position: absolute;
  top: 826px;
  width: 683px;
}

.about .p {
  color: #000000;
  font-family: "Playfair Display-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 5px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 388px;
}

.about .text-wrapper-9 {
  color: #000000;
  font-family: "Playfair Display-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 392px;
  width: 388px;
}

.about .computer-science {
  color: #000000;
  font-family: "Playfair Display-Bold", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 44px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 60px;
  width: 639px;
}

.about .text-wrapper-10 {
  font-weight: 700;
}

.about .text-wrapper-11 {
  font-family: "Playfair Display-Regular", Helvetica;
}

.about .text-wrapper-12 {
  font-weight: 700;
  text-decoration: underline;
}

.about .text-wrapper-13 {
  font-family: "Playfair Display-Regular", Helvetica;
  text-decoration: underline;
}

.about .text-wrapper-14 {
  font-family: "Playfair Display-Italic", Helvetica;
  font-style: italic;
}

.about .strategy-bizdev-and {
  color: #000000;
  font-family: "Playfair Display-Bold", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 39px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 459px;
  width: 644px;
}

.about .text-wrapper-15 {
  font-family: "Playfair Display-Italic", Helvetica;
  font-style: italic;
  text-decoration: underline;
}

.about .download-icon-black {
  height: 47px;
  left: 1094px;
  object-fit: cover;
  position: absolute;
  top: 1596px;
  width: 47px;
}

.about .element {
  height: 38px;
  left: 1165px;
  object-fit: cover;
  position: absolute;
  top: 1601px;
  width: 38px;
}





.projects {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.projects .div {
  background-color: #ffffff;
  border: 1px none;
  height: 1717px;
  position: relative;
  width: 1332px;
}

.projects .navbar {
  background-color: #d6defb;
  height: 56px;
  left: 53px;
  position: absolute;
  top: 40px;
  width: 1226px;
}

.projects .text-wrapper {
  color: #000000;
  font-family: "Playfair Display-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 31px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 210px;
}

.projects .text-wrapper-2 {
  color: #000000;
  font-family: "Playfair Display-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 974px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 150px;
}

.projects .text-wrapper-3 {
  color: #000000;
  font-family: "Playfair Display-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 1124px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 102px;
}

.projects .text-wrapper-4 {
  color: #000000;
  font-family: "Playfair Display-Regular", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 855px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 102px;
}

.projects .text-wrapper-5 {
  color: #000000;
  font-family: "Playfair Display-Bold", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 753px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 102px;
}

.projects .p {
  color: #000000;
  font-family: "Playfair Display-Bold", Helvetica;
  font-size: 18px;
  font-weight: 400;
  top: 300px;
  left: 50%;
}

.projects .overlap-group {
  height: 319px;
  left: 50%;
  position: absolute;
  top: 176px;
  width: 432px;
}



.sidequests {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidequests .div {
  background-color: #ffffff;
  position: relative;
}

.sidequests .navbar {
  background-color: #d6defb;
  height: 56px;
  left: 53px;
  position: absolute;
  top: 40px;
  width: 1226px;
}

.sidequests .text-wrapper {
  color: #000000;
  font-family: "Playfair Display-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 31px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
}

.sidequests .text-wrapper-2 {
  color: #000000;
  font-family: "Playfair Display-Regular", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 974px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 150px;
}

.sidequests .text-wrapper-3 {
  color: #000000;
  font-family: "Playfair Display-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 1124px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 102px;
}

.sidequests .text-wrapper-4 {
  color: #000000;
  font-family: "Playfair Display-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 855px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 102px;
}

.sidequests .text-wrapper-5 {
  color: #000000;
  font-family: "Playfair Display-Bold", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 753px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 102px;
}

.sidequests .me2 {
  object-fit: cover;
  position: absolute;
  height: 368px;
  left: 292px;
  top: 186px;
}

.sidequests .overlap-group {
  height: 319px;
  left: 665px;
  position: absolute;
  top: 176px;
  width: 432px;
}

.sidequests .text-wrapper-6 {
  color: #000000;
  font-family: "Playfair Display-SemiBold", Helvetica;
  font-size: 23px;
  font-weight: 550;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  top: 0;
  width: 442px;
}

.sidequests .shredding-the-slopes {
  color: #000000;
  font-family: "Playfair Display-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 4px;
  letter-spacing: 0;
  line-height: normal;
  width: 398px;
}






.resume {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.resume .div {
  background-color: #ffffff;
  border: 1px none;
  height: 1717px;
  position: relative;
  width: 1332px;
}

.resume .navbar {
  background-color: #d6defb;
  height: 56px;
  left: 53px;
  position: absolute;
  top: 40px;
  width: 1226px;
}

.resume .text-wrapper {
  color: #000000;
  font-family: "Playfair Display-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 31px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 210px;
}

.resume .text-wrapper-2 {
  color: #000000;
  font-family: "Playfair Display-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 974px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 150px;
}

.resume .text-wrapper-3 {
  color: #000000;
  font-family: "Playfair Display-Regular", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 1124px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 102px;
}

.resume .text-wrapper-4 {
  color: #000000;
  font-family: "Playfair Display-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 855px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 102px;
}

.resume .text-wrapper-5 {
  color: #000000;
  font-family: "Playfair Display-Bold", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 753px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 102px;
}